**1-Write a Python program to calculate the length of a string using 2 ways

In [6]:
len = 0
name = "ahmed"
for i in name:
    len += 1;
print("the length of the name is", len)

the length of the name is 5

In [3]:
def length(n):
    if not n:
        return 0
    else:
        return 1 + length(n[1:])
n = "ahmed"
print(length(n))

5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [12]:
s = input("enter a string: ")
n = s[0:2]
z = s[len(s)-2:]
if len(s) < 2:
    print(" ")
else:
    print(n)
    print(z)

enter a string: wertyuio
we
io

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [17]:
s = input("enter any verb: ")
suffix = s[len(s)-3:]

if len(s) < 3:
    print("the word less than 3")
elif suffix == "ing":
    print("the verb already end ing")
    suffix = "ly"
    newS = s[:len(s)-3] + suffix
elif suffix != "ing":
    print("the verb doesn't contain end ing")
    suffix = "ing"
    newS = s + suffix
print(newS)

enter any verb: omaing
the verb already end ing
omaly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [18]:
max = ""
print("enter a list of words: ")
for i in range(4):
    word = input()
    if len(max) < len(word):
        max = word
print(max)

enter a list of words:
omar
seifwail
moataz
saaed
seifwail

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [30]:
word = "abce"
first = word[0:1]
end = word[len(word)-1:] 
newly = end + word[1 : len(word) - 1] + first
print(newly)

ebca

In [2]:
def change_sring(str1):
      return str1[-1:] + str1[1:-1] + str1[:1]
    
print(change_sring('abcd'))

dbca

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [21]:
str1 = "abca"
newStr = ""
for i in range(len(str1) - 1):
    if i == 0:
        newStr = str1[i]
    elif i % 2 == 0:
        newStr = newStr + str1[i]
    else:
        continue

print(newStr)

ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [23]:
str1 = "amr"
str2 = "ahmed"
counter = 0
for i in range(0, len(str1) - 1): 
    if str1[i] == str2[i]:
        counter += 1
    elif str1[i] == str2[i - 1]:
        counter += 1
    elif str1[i] == str2[i + 1]:
        counter += 1
        
print(counter)

2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [44]:
str1 = input("enter a word: ")
newStr = ""
for i in range(0, len(str1)): 
    if ord(str1[i]) >= 65 and ord(str1[i]) <= 90:
        newStr = newStr + chr(ord(str1[i]) + 32)
    elif ord(str1[i]) >= 97 and ord(str1[i]) <= 122:
        newStr = newStr + chr(ord(str1[i]) - 32)
print(newStr)

enter a word: OMar
omAR

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [51]:
str1 = "ahmed"
newS = ""
for i in range(len(str1)):
    i += 1
    newS = newS + str1[len(str1) - i]
print(newS)

demha

**10- Write a Python program to remove a newline in Python

In [60]:
print("moeyjfasd", end = "")
print("//moeyjfasd")

moeyjfasd//moeyjfasd

**11-Write a Python program to check whether a string starts with specified characters

In [63]:
sc = input("enter a specific character: ")
str1 = input("enter the word: ")
if str1[0] == sc:
    print("yes")
else:
    print("NO")

enter a specific character: o
enter the word: omar
yes

**12- Write a Python program to add prefix text to all of the lines in a string

In [66]:
s = input("enter the word: ")
prefix = "mo"

if len(s) < 3:
    print("the word less than 3")
else:
    newS = prefix + s[:len(s)]

print(newS)

enter the word: moataz
momoataz

**13-Write a Python program to print the following numbers up to 2 decimal places

In [88]:
x = 12.16785
x2 = 12.99999999
print("the 2 up to decimal places X 1: " + "{:.2f}".format(x))
print("the 2 up to decimal places X 2: " + "{:.2f}".format(x2))

the 2 up to decimal places X 1: 12.17
the 2 up to decimal places X 2: 13.00

In [95]:
import math
x = math.ceil(12.16785)
x2 = math.ceil(12.99999999)
x3 = math.trunc(12.16785)
print("the ceil of X 1:", x)
print("the the ceil of X 2:", x2)
print("the the trunc of X 2:", x3)

the ceil of X 1: 13
the the ceil of X 2: 13
the the trunc of X 2: 12

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [96]:
x = 12.16785
x2 = -12.99999999
print("the 2 up to decimal places X 1: " + "{:.2f}".format(x))
print ("the number with the sign:", x2)
print("the 2 up to decimal places X 2: " + "{:.2f}".format(x2))

the 2 up to decimal places X 1: 12.17
the number with the sign: -12.99999999
the 2 up to decimal places X 2: -13.00

**15-Write a Python program to display a number with a comma separator

In [99]:
x = 1216785
x2 = 5000000
print("the number with comma separated X 1: " + "{:,}".format(x))
print("the number with comma separated X 2: " + "{:,}".format(x2))

the number with comma separated X 1: 1,216,785
the number with comma separated X 2: 5,000,000

**16-Write a Python program to reverse a string using 2 ways

In [102]:
def reverse(s):
    str = ""
    for i in s:
        str = i + str
    return str

s = "moataz"
print("The original string is : ", end="")
print(s)
print("The reversed string is : ", end="")
print(reverse(s))

The original string is : moataz
The reversed string is : zataom

In [104]:
def reverse(s):
    if len(s) == 0:
        return s
    else:
        return reverse(s[1:]) + s[0]

s = "omar"
print("The original string is: ", end="")
print(s)
print("The reversed string is: ", end="")
print(reverse(s))

The original string is: omar
The reversed string is: ramo

In [105]:
def reverse(string):
    string = string[::-1]
    return string

s = "moataz"
print("The original string is : ", end="")
print(s)
print("The reversed string(using extended slice syntax) is : ", end="")
print(reverse(s))

The original string is : moataz
The reversed string(using extended slice syntax) is : zataom

In [106]:
def reverse(string):
    string = "".join(reversed(string))
    return string

s = "moataz"
print("The original string is : ", end="")
print(s)
print("The reversed string(using reversed) is : ", end="")
print(reverse(s))

The original string is : moataz
The reversed string(using reversed) is : zataom

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [16]:
import collections
str1 = 'moataz'
d = collections.defaultdict(int)
for i in str1:
    d[i] += 1

for i in sorted(d, key=d.get, reverse=True):
    if d[i] > 1:
        print('%s %d' % (i, d[i]))

a 2

**18-Write a Python program to find the first non-repeating character in a given string

In [23]:
def first_non_repeating_character(str1):
    char_order = []
    ctr = {}
    for c in str1:
        if c in ctr:
            ctr[c] += 1
    else:
        ctr[c] = 1 
        char_order.append(c)
    for c in char_order:
        if ctr[c] == 1:
            return c
    return None

print(first_non_repeating_character('abcdef'))
print(first_non_repeating_character('abcabcdef'))
print(first_non_repeating_character('aabbcc'))

f
f
c

**19-Write a Python program to remove spaces from a given string

In [66]:
s = "Moataz Salah Mohamed"
news = ""
for i in range(len(s)):
    if s[i] == " ":
        news = s[:i] + s[i+1:len(s)]
        for j in range(len(news)):
            if s[j] == " ":
                news = news[:j] + news[j+1:len(s)]


print(news)

MoatazSalahMhamed

In [69]:
def remove_spaces(str1):
    str1 = str1.replace(' ','')
    return str1
    
print(remove_spaces("Moataz Salah Mohamed"))
print(remove_spaces("a b c"))

MoatazSalahMohamed
abc

**20-Write a Python program to count the number of non-empty substrings of a given string

In [1]:
def number_of_substrings(str1): 
    str_len = len(str1)
    return int(str_len * (str_len + 1) / 2); 

str1 = input("Input a string: ")
print("Number of substrings:") 
print(number_of_substrings(str1))

Input a string: moataz
Number of substrings:
21

**21-write a Python program to swap first and last element of any list.

In [17]:
l = [1, 2, 3, 4, 5]
midle = l[1:len(l)-1]
one = l[0:1]
end = l[len(l)-1:len(l)]
l2 = end + midle + one
print(l2)

[5, 2, 3, 4, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [24]:
list1 = [23, 65, 19, 90]
list1.remove(19)
list1.remove(23)
list1.insert(0, 19)
list1.insert(2, 23)
print(list1)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [30]:
list1 = [23, 65, 19, 90]

counter = 0;
for i in list1:
    counter += 1;
print(counter)    

print(len(list1))

from operator import length_hint 
size = length_hint(list1)
print(size)

4
4
4

**24-write a Python code to find the Maximum number of list of numbers.

In [36]:
list1 = [23, 65, 19, 90]
max = list1[0];
for i in list1:
    if max < i:
        max = i
        
print(max)

90

**25-write a Python code to find the Minimum number of list of numbers.

In [2]:
list1 = [23, 65, 19, 90]
min = list1[0];
for i in list1:
    if min > i:
        min = i
        
print(min)

19

**26-search for if an elem is existing in list

In [10]:
list1 = [23, 65, 19, 90]
x = input("enter the element: ")
for i in list1:
    if i == int(x):
        print("exist")

enter the element: 19
exist

In [16]:
list1 = [23, 65, 19, 90]
x = input("enter the element: ")
x2 = int(x)
if x2 in list1:
    print("exist")
else:
    print("not exist")

enter the element: 32
not exist

**27- clear python list using different ways

In [21]:
list1 = [23, 65, 19, 90]
list1.clear()
print(list1)

[]

In [22]:
list1 = [23, 65, 19, 90]
for i in list1:
    list1.remove(i)
print(list1)

[]

In [23]:
list1 = [23, 65, 19, 90]
del list1[:]
print(list1)

[]

In [24]:
while(len(list1) != 0):
    list1.pop()
print(list1)

[]

In [25]:
list1 = [23, 65, 19, 90]
list2 = list1[:0]
print(list2)

[]

**28-remove duplicated elements from a list

In [28]:
list1 = [23, 65, 19, 90, 19, 30, 20, 30]
list1 = list(dict.fromkeys(list1))
print(list1)

[23, 65, 19, 90, 30, 20]

In [30]:
list1 = [23, 65, 19, 90, 19, 30, 20, 30]
l = [*set(list1)]
print(l)

[65, 19, 20, 23, 90, 30]

In [32]:
l1 = list(set(list1))
print(l1)

[65, 19, 20, 23, 90, 30]

In [33]:
list1 = [23, 65, 19, 90, 19, 30, 20, 30]
newl = []
for i in list1:
    if i not in newl:
        newl.append(i)
print(newl)

[23, 65, 19, 90, 30, 20]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [38]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
n = len(test_list)
res = []
for idx in range(0, n, 2):
    res.append({key_list[0]: test_list[idx], key_list[1] : test_list[idx + 1]})

print(res)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [42]:
input_list = [23, 65, 19, 90, 19, 30, 20, 30, 30, 20]
l1 = []
count = 0
for item in input_list:
    if item not in l1:
        count += 1
        l1.append(item)

print("No of unique items are:", count)

No of unique items are: 6

In [41]:
input_list = [23, 65, 19, 90, 19, 30, 20, 30, 30, 20]
new_set = set(input_list)
print("No of unique items in the list are:", len(new_set))

No of unique items in the list are: 6

In [45]:
from collections import Counter
input_list = [23, 65, 19, 90, 19, 30, 20, 30, 30, 20]
items = Counter(input_list).keys()
print("No of unique items in the list are:", len(items))

No of unique items in the list are: 6

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [46]:
test_list =  [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
res = []
for i in test_list:
    freq = test_list.count(i)
    if freq > K and i not in res:
        res.append(i)

print("The required elements : " + str(res))

The required elements : [4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [9]:
def maximumAdjacent(arr1, n):
    arr2 = [] 
    for i in range(1, n):
        r = max(arr1[i], arr1[i-1])
        arr2.append(r)
    for ele in arr2 :
        print(ele,end=" ")

n = 6 
arr1 = [1,2,2,3,4,5]
maximumAdjacent(arr1, n)

2 2 3 4 5

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [10]:
def comb(L):
    for i in range(3):
        for j in range(3):
            for k in range(3):
                if (i!=j and j!=k and i!=k):
                    print(L[i], L[j], L[k])

comb([1, 2, 3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [16]:
def combination(l):
    for i in range(len(l)):
        print("[" + str(l[i]) + "]")
        for j in range(len(l)):
            if (i!=j):
                print("[" + str(l[i]) + ", " + str(l[j]) + "]")
            for k in range(len(l)):
                if (i!=j and j!=k and i!=k):
                    print("[" + str(l[i]) + ", " + str(l[j]) + ", " + str(l[k]) + "]")

l = [1, 2, 3]
combination(l)

[1]
[1, 2]
[1, 2, 3]
[1, 3]
[1, 3, 2]
[2]
[2, 1]
[2, 1, 3]
[2, 3]
[2, 3, 1]
[3]
[3, 1]
[3, 1, 2]
[3, 2]
[3, 2, 1]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [27]:
List_1 = ["a","b"]
List_2 = [1,2]
n = len(List_1)
res = []
for idx in range(n):
    res.append([List_1[idx], List_2[idx]])
res.append([List_1[0],List_2[1]])
res.append([List_1[1],List_2[0]])
print(res)

[['a', 1], ['b', 2], ['a', 2], ['b', 1]]

In [29]:
list_1 = ["b", "c", "d"]
list_2 = [1, 4, 9]
unique = []
for i in range(len(list_1)):
    for j in range(len(list_2)):
        unique.append([list_1[i], list_2[j]])
        
print(unique)

[['b', 1], ['b', 4], ['b', 9], ['c', 1], ['c', 4], ['c', 9], ['d', 1], ['d', 4], ['d', 9]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [32]:
list_1 = [1, 1, 2, 3, 4, 5, 1, 2, 1]
item = 1
for i in list_1:
    if item in list_1:
        list_1.remove(item)
print(list_1)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [34]:
list_1 = ["Gfg", "is", "best"]
list_2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
newl = []
for i in list_2:
    newl.append(list_1[i]);
print(newl)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [38]:
test_list = [(4, 5, 6, 4, 4), (4, 4, 3), (4, 4, 4), (3, 4, 9)]
K = 4
N = 3
res = []
for t in test_list:
    if t.count(K) == N:
        res.append(t)

print(str(res))

[(4, 5, 6, 4, 4), (4, 4, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [39]:
def sortarray(array):
    for i in range(len(array[0])):
        sortedcolumn = sorted(array, key = lambda x:x[i])
        print("Sorted array specific to column {}, \{}".format(i, sortedcolumn)) 

array = [['java', 1995], ['c++', 1983],['python', 1989]]
sortarray(array)

Sorted array specific to column 0, \[['c++', 1983], ['java', 1995], ['python', 1989]]
Sorted array specific to column 1, \[['c++', 1983], ['python', 1989], ['java', 1995]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [40]:
from collections import OrderedDict
dict = {'ravi': '10', 'rajnish': '9','sanjeev': '15', 'yash': '2', 'suraj': '32'}
dict1 = OrderedDict(sorted(dict.items()))
print(dict1)

OrderedDict([('rajnish', '9'), ('ravi', '10'), ('sanjeev', '15'), ('suraj', '32'), ('yash', '2')])

In [41]:
myDict = {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
myKeys = list(myDict.keys())
myKeys.sort()
sorted_dict = {i: myDict[i] for i in myKeys}
print(sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [73]:
test_dict = {"Gfg" : 3, "is" : 7, "best" : 10, "for" : 6, "geeks" : "CS"}
k = 7
res = {}

for key in test_dict:
    if not (isinstance(test_dict[key], int) and test_dict[key] > K):
        res[key] = test_dict[key]
print(res)

{'Gfg': 3, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [77]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}
dic4 = {}
for i in (dic1,dic2,dic3):
    dic4.update(i)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [79]:
counter = 0
dic1 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
for i in dic1:
    counter+=1
print(counter)

6

**44- Write a Python script to merge two Python dictionaries

In [80]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
d1 = dic1.copy()
d1.update(dic2)
print(d1)

{1: 10, 2: 20, 3: 30, 4: 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [82]:
my_dict = {'x':500, 'y':5874, 'z': 560}

key_max = max(my_dict.keys(), key=(lambda k: my_dict[k]))
key_min = min(my_dict.keys(), key=(lambda k: my_dict[k]))

print('Maximum Value: ',my_dict[key_max])
print('Minimum Value: ',my_dict[key_min])

Maximum Value:  5874
Minimum Value:  500

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [84]:
dict1 = {'c1': 'Red', 'c2': 'Green', 'c3':None}
print("New Dictionary after dropping empty items:")
dict1 = {key:value for (key, value) in dict1.items() if value is not None}
print(dict1)

New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [90]:
t = (14, 20, 30, 5)
print(t)
print(t.index(20))
t = 5
print(t)

(14, 20, 30, 5)
1
5

**48-Write a Python program to unpack a tuple into several variables

In [97]:
t = (14, 20, 30, 5)
t2 = ()
for i in t:
    print(i)

14
20
30
5

In [99]:
t = (14, 20, 30, 5)
print(t)
n1, n2, n3, n4=t
print(n1 + n2 + n3 + n4)

(14, 20, 30, 5)
69

**49-Write a Python program to add an item to a tuple

In [102]:
t = (14, 20, 30, 5)
print(t)
t = t + (6,)
print(t)

(14, 20, 30, 5)
(14, 20, 30, 5, 6)

In [104]:
t = (14, 20, 30, 5)
print(t)
tList = list(t)
tList.append(23)
t = tuple(tList)
print(t)

(14, 20, 30, 5)
(14, 20, 30, 5, 23)

**50-Write a Python program to convert a tuple to a string

In [107]:
t = ('m', 'o', 'a', 't', 'a', 'z')
str1 = ''
for item in t:
    str1 = str1 + item
print(str1)

moataz

**51-Write a Python program to convert a list to a tuple

In [108]:
list1 = [1, 2, 3, 4]
tList = tuple(list1)
print(tList)

(1, 2, 3, 4)

**52-Write a Python program to reverse a tuple

In [110]:
t = ('m', 'o', 'a', 't', 'a', 'z')
Ret = reversed(t)
print(tuple(Ret))

('z', 'a', 't', 'a', 'o', 'm')

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [111]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [114]:
s = 'moataz3.5'
t = tuple(s)
print(t)

('m', 'o', 'a', 't', 'a', 'z', '3', '.', '5')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [115]:
t = (20,30,40)
n1, n2, n3 = t
counter = 0
for i in t:
    counter += 1
sum1 = n1+n2+n3
avg = sum1/counter
print(avg)

30.0

**56-Write a Python program to add member(s) to a set.

In [117]:
s = {1,2,3,4}
s.add(5)
s.add(9)
print(s)

{1, 2, 3, 4, 5, 9}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [118]:
s = {1,2,3,4}
s.remove(2)
print(s)

{1, 3, 4}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [122]:
s = {1,2,3,4}
s2 = {5,6,7}
s3 = {1,6,3,7}
inter = s.intersection(s3)
print(inter)
union = s.union(s2)
print(union)
diff = s.difference(s3)
print(diff)
sym = s.symmetric_difference(s3)
print(sym)

{1, 3}
{1, 2, 3, 4, 5, 6, 7}
{2, 4}
{2, 4, 6, 7}

**59-Write a Python program to find the maximum and minimum values in a set

In [129]:
s = {1,2,3,4}
print("max number in the set is: " + str(max(s)))
print("min number in the set is: " + str(min(s)))

max number in the set is: 4
min number in the set is: 1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [141]:
def findPairs(lst, K):
    res = []
    while lst:
        num = lst.pop()
        diff = K - num
        if diff in lst:
            res.append((diff, num))
         
    res.reverse()
    return res

lst = [1, 5, 3, 7, 9]
K = 12
print(findPairs(lst, K))

[(5, 7), (3, 9)]

In [142]:
def find_pairs(lst, K):
    result = []
    for i in range(len(lst)):
        for j in range(i + 1, len(lst)):
            if lst[i] + lst[j] == K:
                result.append((lst[i], lst[j]))
    return result
lst = [1, 5, 3, 7, 9]
K = 12
print(find_pairs(lst, K))

[(5, 7), (3, 9)]