# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
raw_data = {"name": ['Bikachu', 'ditto','eevee','snorlax'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [150, 100, 90, 50],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### Step 3. Assign it to a variable called pokemon

In [3]:
pokemon = pd.DataFrame(raw_data)
pokemon

      name   evolution   type   hp pokedex
0  Bikachu     Ivysaur  grass  150     yes
1    ditto  Charmeleon   fire  100      no
2    eevee   Wartortle  water   90     yes
3  snorlax     Metapod    bug   50      no

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [4]:
pokemon = pokemon[["name", 'type', 'hp', 'evolution', 'pokedex']]
pokemon

      name   type   hp   evolution pokedex
0  Bikachu  grass  150     Ivysaur     yes
1    ditto   fire  100  Charmeleon      no
2    eevee  water   90   Wartortle     yes
3  snorlax    bug   50     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [6]:
pokemon['place'] = ['forest','lava','water','mud']
pokemon

C:\Users\Moataz ElFoly\AppData\Local\Temp\ipykernel_1188\1815183793.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['place'] = ['forest','lava','water','mud']

      name   type   hp   evolution pokedex   place
0  Bikachu  grass  150     Ivysaur     yes  forest
1    ditto   fire  100  Charmeleon      no    lava
2    eevee  water   90   Wartortle     yes   water
3  snorlax    bug   50     Metapod      no     mud

### Step 6. Present the type of each column

In [10]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.